* {
    margin: 0;
    padding: 0;
}

.main {
    width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    
    border: 1px solid red;
}

.main h1 {
    text-align: center;
}

.info {
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem auto;
    border: 1px solid blue;

}

.btn {
    border: 1px solid green;
}

.luck-numbers {
    border: 1px solid pink;
}